In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\saiki\data science\datasets\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

**Standardization**
- standardization means scaling the data into one scale
- we have different columns has different units so that value will vary
- One cloumn has very huge values
- Another column has very less values
- so it is important to scale all type of units under one scale
- we have 2 producers
- standardization
- z-score
- the values range from -3 to 3

- Normalization
     - Min max scalar
    - values ranges from 0 to 1

In [ ]:
# take the prevailing wage column
# Z-score = x-mean/sigma

# step-2: calculate mean of prevailing wage
# step-3: Calculate std of prewage
# step-4: Nr: Pwage-mean
# step-5: pwage_Zscore=Nr/Dr

In [3]:
path=r"C:\Users\saiki\data science\datasets\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [4]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [25]:
 pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
Nr=pwage-pwage_mean
prevailing_wage_z=visa_df['prevailing_wage_z']=Nr/pwage_std

In [26]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,-1.398510,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,0.169832,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,0.919060,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,0.169991,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.428576,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,0.049923,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,3.876083,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.360253,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,0.221504,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,-0.067762,Year,Y,Certified,-0.067762

In [30]:
visa_df[['prevailing_wage','Prevailing_wage_z']]

KeyError: "['Prevailing_wage_z'] not in index"

In [29]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()

(4.634101837909871, 4.634101837909871)

In [18]:
visa_df['prevailing_wage_z'].idmax()

KeyError: 'prevailing_wage_z'

In [19]:
visa_df['prevailing_wage'].idxmin()

20575

In [20]:
visa_df['prevailing_wage'].idxmax()

21077

In [21]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,4.634102,Year,Y,Denied
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,-1.409682,Hour,Y,Certified

In [31]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[21077,20575]
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[21077,20575]]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
21077         4.634102           4.634102
20575        -1.409682          -1.409682

In [ ]:
# Generally will overwrite the column values
# because we want to clean our data before we apply Ml model
# If you create any extra columns make sure drop some of non required

$Standardscalar$

In [35]:
# read the pacakge
# save the pacakage
# apply fit trans
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit_transform(1)

ValueError: Expected 2D array, got scalar array instead:
array=1.0.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [33]:
visa_df[['prevailing_wage']]

       prevailing_wage
0            -1.398510
1             0.169832
2             0.919060
3             0.169991
4             1.428576
...                ...
25475         0.049923
25476         3.876083
25477         1.360253
25478         0.221504
25479        -0.067762

[25480 rows x 1 columns]

In [36]:
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])
cols=['prevailing_wage','prevailing_wage_ss']
visa_df[cols]

KeyError: "['prevailing_wage_ss'] not in index"

**Normalization**

$minmaxscalar$

In [ ]:
# x-x_min/(x_max-x_min)
# x= data column
# x_min
# x_max
# nr=x-x_min
# dr=x_max-x_min
# nr/dr

In [37]:
path=r"C:\Users\saiki\data science\datasets\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [38]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
Nr=pwage-pwage_mean
prevailing_wage_z=visa_df['prevailing_wage_z']=Nr/pwage_std

In [39]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

In [48]:
pwage_min=visa_df['prevailing_wage'].idxmin()

In [45]:
pwage_max=visa_df['prevailing_wage'].idxmax()

In [49]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
Nr=pwage-pwage_mean
dr=pwage_max-pwage_min
Nr/dr

0       -147.138669
1         17.868198
2         96.695310
3         17.884891
4        150.301943
            ...
25475      5.252501
25476    407.806724
25477    143.113616
25478     23.304692
25479     -7.129292
Name: prevailing_wage, Length: 25480, dtype: float64

In [43]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

$Minmaxscalar$

In [54]:
from sklearn.preprocessing import MinMaxScaler
mss=MinMaxScaler()
visa_df['prevailing_wage_mms']=mss.fit_transform(visa_df[['prevailing wage']])

KeyError: "None of [Index(['prevailing wage'], dtype='object')] are in the [columns]"

In [55]:
,ko,p,lp,.l;.l;';
'

SyntaxError: unterminated string literal (detected at line 1) (2819126781.py, line 1)